[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
easydict = "*"
pyyaml = "*"
requests-html = "*"
schedule = "*"
selenium = "*"
webdriver-manager = "*"
yagmail = "*"

[dev-packages]

[requires]
python_version = "3.11"
